@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  overflow-y: scroll!important;

}

body {
  direction: ltr;

}
.full_sidebar {
  min-height: calc(100vh - 56px);
  
}
.full_sidebar_2 {
  margin-bottom: calc(-100vh + 56px);
}
.x3x7a5m::before {
  margin-top: -5px;
  display: block;
  content: "";
}
.x3x7a5m::after {
  display: block;
  content: "";
  height: 0;
  margin-bottom: -4px;
}
.ba::before {
  margin-top: -4px;
  display: block;
  height: 0;
  content: "";
}
.ba::after {
  display: block;
  content: "";
  height: 0;
  margin-bottom: -4px;
}
.ba_1::before {
  margin-top: -5px;
  display: block;
  height: 0;
  content: "";
}
.ba_1::after {
  display: block;
  content: "";
  height: 0;
  margin-bottom: -4px;
}


#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  /* scrollbar-width: none; */
  z-index: 0;
}

.owl-wrapper {
  overflow: visible !important;
  /* Allow interaction with child elements */
}


.owl-next:hover {
  background-color: #525455 !important;
}

.owl-prev:hover {
  background-color: #525455 !important;
}

.scroll-container {
  height: 860px;


}.scroll-container-messenger {
  height: 860px;

}

.mainScroll *:not(.messenger) {
  scrollbar-width: none;
}
.messenger {
scrollbar-color: #7B7B7B #424242;

}


.content {
  height: 100%;
  overflow-y: scroll;

  /* Enable vertical scrolling */
}

.custom-scrollbar {
  z-index: 2;
  height: 480px;
  position: absolute;
  top: 0;
  right: 6px;
  width: 8.5px;
  /* Width of the custom scrollbar */
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  /* Roundness of the custom scrollbar */
  /* Show pointer cursor when hovering over scrollbar */
  
}

.custom-scrollbar-track-1 {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  right: 5px;
  width: 13px;
  /* Show pointer cursor when hovering over scrollbar */
}

.custom-scrollbar-track-2 {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  right: 5px;
  width: 13px;
  /* Show pointer cursor when hovering over scrollbar */
}



.owl-next>svg {

  bottom: 12px;
  right: 12px;
  position: absolute;

}

.owl-prev>svg {

  bottom: 12px;
  right: 12px;
  position: absolute;

}

.owl-carousel.owl-loaded {

  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 100%;
  width: 680px;

}

.owl-stage-outer {

  display: flex !important;
  overflow-x: auto !important;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  overflow-y: hidden !important;
  flex-grow: 1;
  flex-direction: column;
  scroll-snap-type: x mandatory;
  scroll-padding: 44px;
  padding-top: 8px;
  margin-bottom: 0;
  margin-top: -8px;
  box-sizing: border-box;

}

.owl-theme .owl-nav .disabled {
  display: none !important;
  cursor: default;
}

.owl-carousel .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-basis: 140.625px;
}


.owl-stage {
  display: flex;
  flex-grow: 1;
}


.disabled {
  display: none;
}


.owl-prev,
.owl-next {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1) 0 0 0 1px rgba(0,0,0,0.1);
  border-radius: 50px !important;
  background-color: #3E4042 !important;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 90px !important;

  font-size: 40px !important;
  /* Increase the font size of the navigation arrows */
  color: #fff !important;
  /* Change the color of the navigation arrows */
}

/* Adjust the position of the navigation arrows if needed */
.owl-prev {

  transform: translate(calc(-365% - 4px), 40%);
  left: 195px;
}

.owl-next {

  transform: translate(calc(212% + 4px), 40%);
  right: 122px;
}

.owl-nav {
  z-index: 1 !important;

}

.owl-theme .owl-nav [class*="owl-"] {
  margin: 11px !important;
}

.clip-element {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(1px at 0% 0%);
}
.textClass {
  -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
  
}.textClass_1 {
  -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  
}
.textProps {
  word-wrap: break-word;
  word-break: break-word;
}

.customShadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);

}

.customShadow-2 {
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}

.shadowStyle-1 {
box-shadow: 0 12px 28px 0 rgba(0,0,0,0.2),
0 2px 4px 0 rgba(0,0,0,0.1),
inset 0 0 0 1px rgba(255,255,255,0.05);
}

html {
  scrollbar-color: rgba(255, 255, 255, 0.189) rgba(255, 255, 255, 0.18);
}

@media (min-width: 375px) and (max-width:700px) {


  .owl-prev {

    transform: translate(calc(-370% - 4px), -0%)
  }

  .owl-next {

    transform: translate(calc(204% + 4px), -0%);

  }

}

@media (min-width: 375px) and (max-width:700px) {


  .owl-prev {

    transform: translate(calc(-370% - 4px), -0%)
  }

  .owl-next {

    transform: translate(calc(204% + 4px), -0%);

  }

}


@media (max-width: 1099px) {
  .nav {
    max-width: calc(15vw - 55px);
  }
  .sidebar_1 {
    display: none;
  }
}
@media (max-width: 899px) {
 
  .sidebar_2  {
    display: none;
  }
}

@media (min-width: 1100px) and (max-height: 789px), (min-width: 1100px) and (max-width: 1379px) {
  .nav {
    max-width: 111.6px;
  }
}

